
box label {
  color: white;
}

.up-down span.value {
  background: #111;
  color: white;
}

.up-down span.value-up,
.up-down span.value-down {
  background: #121212;
  color: white;
}

box .play {
  background: #111;
  color: white;
}

list-list label {
  color: white;
}

list-list octave span,
list-list volume span,
box.wave span {
  background: #111;
  color: white;
}

list-list octave span.active,
list-list volume span.active,
box.wave span.active {
  background: lightyellow;
  color: black;
}



list-bar bar {
  background: #111;
  color: white;

}

list-bar bar.edit {
  background: lightyellow;
  color: black;
}

list-bar bar.hi {
  background: yellow;
  color: black;
}

vsound label {
  color: white;
}


statusbar {
  background: pink;
}


vbar.one:before {
  background: white;
}

vbar.two:before {
  background: lightblue;
}


vbar.three:before {
  background: pink;
}

vbar.four:before {
  background: lightyellow;
}

vbar.five:before {
  background: lightgreen;
}
