
box label {
  color: white;
}

.up-down span.value {
  background: #111;
  color: white;
}

.up-down span.value-up,
.up-down span.value-down {
  background: #121212;
  color: white;
}

box .play {
  background: #111;
  color: white;
}

list-list label {
  color: white;
}

list-list octave span,
list-list volume span {
  background: #111;
  color: white;
}

list-bar bar {
  background: #111;
  color: white;

}

list-bar bar.edit {
  background: lightyellow;
  color: black;
}
